<div class="item-wrap">
   <figure class="">
<!--       <div class="popup-call">
         <a href="assets/custom/images/blog/01.jpg" class="gallery-item"><i class="flaticon-arrows-4"></i></a>
      </div> -->
      <a ui-sref="postdetail({id: post.id})"><img data-ng-src="data:image/jpeg;base64,{{post.image_base64}}" class="img-responsive resize" alt="img11" height='300' width='400'/></a>
      <figcaption>
         <div class="post-meta"><span>by <a href="#!">Gordon Gao</a>,</span> <span>{{formatDate(post.created_at)}}</span></div>
         <div class="post-header">
            <h5><a ui-sref="postdetail({id: post.id})">{{post.title}}</a></h5>
         </div>
         <div class="post-entry">
            <p class="ellipsis">{{post.content}}</p>
         </div>
         <div class="post-tag pull-left">
            <span><a href="" data-filter=".branding">{{post.category.name}}</a>
         </div>

      </figcaption>
   </figure>
</div> 