<div class="grid-item col-md-4 col-sm-6">
   <div class="item-wrap">
      <figure class="">
         <div class="popup-call">
            <a href="assets/custom/images/blog/01.jpg" class="gallery-item"><i class="flaticon-arrows-4"></i></a>
         </div>
         <img src="assets/custom/images/blog/thumbs/01.jpg" class="img-responsive" alt="img11"/>
         <figcaption>
            <div class="post-meta"><span>by <a href="#!">Sam Anderson</a>,</span> <span>March 16, 2015</span></div>
            <div class="post-header">
               <h5><a href="blogpost.html">My Friend's new album design</a></h5>
            </div>
            <div class="post-entry">
               <p>Aliquam gravida tincidunt congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
            </div>
            <div class="post-tag pull-left">
               <span><a href="#branding" data-filter=".branding">Branding</a>,</span><span><a href="#design" data-filter=".design">Design</a></span>
            </div>
            <div class="post-more-link pull-right"><a href="blogpost.html">More<i class="fa fa-long-arrow-right right"></i></a></div>
         </figcaption>
      </figure>
   </div>
</div>