<div id="blogpost" class="inner-content">

   <section id="page-title" class="inner-section">
      <div class="container-fluid nopadding wow fadeInRight" data-wow-delay="0.1s" data-wow-offset="10">
         <h2 class="font-accident-two-normal uppercase">{{postdetail.post.title}}</h2>
         <div class="post-meta"><span>by <a href="#!">Gordon Gao</a>,</span> <span>{{postdetail.formatDate(postdetail.post.created_at)}}</span></div>
         <div class="post-tag pull-left"><span><a>{{postdetail.post.category.name}}</a></span></div>
      </div>
   </section>

   <!-- Blog Block -->
   <section class="inner-section">

      <div class="container-fluid nopadding">

         <img data-ng-src="data:image/jpeg;base64,{{postdetail.post.image_base64}}" class="img-responsive wow fadeInDown" data-wow-delay="0.3s" data-wow-offset="10">

         <article class="post wow fadeInDown" data-wow-delay="0.3s" data-wow-offset="7">

            <div class="dividewhite6"></div>

            <p>
               {{postdetail.post.content}}
            </p>

            <div class="dividewhite4"></div>
            <hr>

         </article>



         <div id="comments" class="wow fadeInDown" data-wow-delay="0.2s" data-wow-offset="5">
            <h4 class="font-accident-one-light uppercase">{{postdetail.comments.length}} comments:</h4>

            <div class="dividewhite4"></div>

            <ul class="media-list">

               <li class="media"  ng-repeat="comment in postdetail.comments track by comment.id">
                  <div class="media-left">
                     <a href="#">
                        <img class="media-object"  alt="64x64" src="assets/custom/images/userpic02.jpg">
                     </a>
                  </div>
                  <div class="media-body">
                     <div class="post-data">
                        <div class="post-date">{{postdetail.formatDate(comment.created_at)}}</div>
                        <div class="post-author"><a href="#">{{comment.username}}</a></div>
                     </div>
                     <p>{{comment.content}}</p>
                     <!-- <p><a href="#" class="btn btn-gr btn-xs">Log In to Reply</a></p> -->

                     <!-- Nested media object -->
                     <!-- <div class="media">
                        <div class="media-left">
                           <a href="#">
                              <img class="media-object" alt="64x64" src="assets/custom/images/userpic03.jpg">
                           </a>
                        </div>
                        <div class="media-body">
                           <div class="post-data">
                              <div class="post-date">2014 Jun, 14</div>
                              <div class="post-author"><a href="#">Amanda Quinn</a></div>
                           </div>
                           <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                           <p><a href="#" class="btn btn-gr btn-xs">Log In to Reply</a></p>
                           <div class="media">
                              <div class="media-left">
                                 <a href="#">
                                    <img class="media-object" data-src="holder.js/64x64/index.html" alt="64x64" src="assets/custom/images/userpic02.jpg">
                                 </a>
                              </div>
                              <div class="media-body">
                                 <div class="post-data">
                                    <div class="post-date">2014 Jun, 14</div>
                                    <div class="post-author"><a href="#">Alessandra James</a></div>
                                 </div>
                                 <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                 <p><a href="#" class="btn btn-gr btn-xs">Log In to Reply</a></p>
                              </div>
                           </div>
                        </div>
                     </div> -->
                     <!-- Nested media object -->
                     <!-- <div class="media">
                        <div class="media-left">
                           <a href="#">
                              <img class="media-object" data-src="holder.js/64x64/index.html" alt="64x64" src="assets/custom/images/userpic04.jpg">
                           </a>
                        </div>
                        <div class="media-body">
                           <div class="post-data">
                              <div class="post-date">2014 Jun, 14</div>
                              <div class="post-author"><a href="#">Misha Fergusson</a></div>
                           </div>
                           <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                           <p><a href="#" class="btn btn-gr btn-xs">Log In to Reply</a></p>
                        </div>
                     </div> -->
                  </div>
               </li>
            </ul>

            <div class="dividewhite6"></div>
            <hr>
            <div class="dividewhite2"></div>

         </div>



         <div class="wow fadeInDown" data-wow-delay="0.3s" data-wow-offset="10">

            <div id="post-comment">
               <h4 class="font-accident-one-light uppercase">Leave a Comment</h4>
            </div>
            <div class="dividewhite2"></div>

            <form action="#" method="post" novalidate="novalidate">
               <div class="row">
                  <div class="col-md-4">
                     <p><label>Name</label><input ng-model="postdetail.commentName" type="text" name="your-name" value="" size="60" class="" aria-required="true" aria-invalid="false"></p>
                  </div>
                  <!-- <div class="col-md-4">
                     <p><label>Email*</label><input type="text" name="your-email" value="" size="60" class="" aria-required="true" aria-invalid="false"></p>
                  </div> -->
                  <!-- <div class="col-md-4">
                     <p><label>Website</label><input type="text" name="your-website" value="" size="60" class="" aria-required="true" aria-invalid="false"></p>
                  </div> -->
                  <div class="col-md-12">
                     <p><label>Message</label><textarea ng-model="postdetail.commentContent" name="your-message" cols="60" rows="3" class="" aria-invalid="false"></textarea></p>
                  </div>
               </div>
               <div class="dividewhite2"></div>
               <p><button type="button" class="btn btn-lg btn-darker" ng-click="postdetail.addComment()">Post Comment</button></p>
            </form>
         </div>


      </div>
      <div class="dividewhite8"></div>

   </section>
   <!-- /Blog Block -->

</div>